<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add new admin</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>

<div class="register-container">
        <h2>Add new admin</h2>

        <form action="{% url 'add_admin_event' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="text" name="username" placeholder="Create a username" required>
            <input type="password" name="password" placeholder="Choose a password" required>
			<input type="text" name="firstname" placeholder="First name" required>
            <input type="text" name="lastname" placeholder="Last name" required>

			<label style="padding: 20px; color:green;"><b>Selected role: ADMIN</b></label>
            <button type="submit" style="margin-bottom: 20px;" >Add admin</button>
        </form>
        <a href="/administration">Back</a>
    </div>

</body>
</html>